.body-inner {
    background-color: #f5f8ff !important;
}

.app-logo {
    max-height: 140px;
}

.app-logo-sm{
    max-height: 80px;
}

.auth-bg {
    background-color: rgba(23, 79, 116, 0.705);
}

div.auth-links{
    display: flex;
    flex-direction: row;
    align-self: center;
    padding-right:15px;
}

.auth-link{
    color: rgb(204, 202, 202) !important;
    text-decoration: none;
    margin-right:15px;
}

.auth-link:hover{
    color: rgb(167, 165, 165) !important;
    text-decoration: underline;
}

.notifications-bell{
    max-height: 30px;
}

.notifications{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.notifications-count{
    color: white;
}

.notifications-button{
    display: flex;
    flex-direction: row;
    align-items: center;
    border: 0.5px solid white;
    border-radius: 0.5rem;
}

.notifications-button:hover, .notifications-button:active, .notifications-button:focus{
    background-color: rgba(75, 85, 99, 0.7);
}

.notifications-button:focus{
    outline: none;
}

.notifications-button{
    padding: 4px;
}

.dropdown-menu{
    border-radius: 0.375rem !important;
    max-height: 300px;
    overflow-y: scroll;
}

.notifications-markAllRead{
    margin-left: 24px;
    margin-bottom: 5px;
}

@media (max-width: 600px) {
    .dropdown-menu{
        width: 200px;
    }
    
    .dropdown-item{
        font-size: 12px;
    }
}

/* .dropdown-menu, .dropdown-menu:active{
    transform: translate3d(-136.5px, 10px, 0px) !important;
} */

.dropdown:hover > .dropdown-menu {
    display: block !important;
}

.profile-info:hover {
    text-decoration: underline;
}

.profile-info:focus {
    text-decoration: underline;
    outline: none;
}

.admin-info{
    background-color: rgba(238, 195, 78, 0.877);
    border-radius: 0.5rem;
    padding: 15px;
}

.journey-full{
    border: 0.8px solid rgb(229, 231, 235);
    border-radius: 0.5em;
    padding: 15px;
    position: relative;
}

.journey-full-title, .journey-title {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 250px;
    max-width: 300px;
}

/* .journey-full-jinfo, .journey-info{
    white-space: nowrap;
    overflow: hidden;
    word-break: break-all;
} */

.journey-full-jinfo-description, .journey-info-description {
    width: 100%;
    max-width: 100%;
    word-wrap: break-word;
}

.journey-info-description {
    overflow: hidden;
    position: relative;
    line-height: 1em;
    max-height: 2em;
    text-align: justify;
    margin-right: -1em;
    padding-right: 1em;
    margin-top: 0.7em;
}

.journey-info-description:before {
    content: '...';
    position: absolute;
    right: 0;
    bottom: 0;
  }

.journey-info-description:after {
    content: '';
    position: absolute;
    right: 0;
    width: 1em;
    height: 1em;
    margin-bottom: 0.3em;
    background: #f5f8ff;
}

.journey-full-body{
    display: flex;
    margin-top: 8px;
    flex-direction: column;
}

@media (min-width: 600px) {
    .journey-full-body{
        flex-direction: row;
    }

    .journey-full-image{
        height: 200px;
        width: 200px;
        max-width: 300px;
        max-height: 300px;
    }

    .journey-full-jinfo{
        flex-grow: 1;
        align-self: stretch;
        max-width: 500px;
        margin-left: 40px;
        border-left: 0.5px solid black;
        padding-left: 40px;
    }
}

.journey-full-jinfo-title{
    color:rgb(121, 117, 117);
    font-weight: 300;
}

.journey-info-subtitle, .journey-info-recommended {
    text-decoration: underline;
}

.journey-full-jinfo-description{
    font-weight: 600;
    font-size: 18px;
}

.journey-full-jinfo-recommended{
    text-transform: uppercase;
    font-size: 22px;
}

.journey-full-uinfo{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
}

.journey-full-alter-buttons{
    align-self: flex-start;
    width: 180px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

@media (min-width: 600px) {
    .journey-full-alter-buttons{
        position: absolute;
        right: 10px;
        top: 10px;
    }
}

@media (max-width: 600px) {
    .journey-full-alter-buttons{
        margin-top: 8px;
    }

    .journey-full-jinfo{
        margin-top: 10px;
    }
}

.journey-full-alter-button{
    width:80px;
    max-width: 80px;
}

.journey{
    border: 0.8px solid rgb(229, 231, 235);
    border-radius: 0.5em;
    display: flex;
    flex-direction: column;
    padding-right: 15px;
    background-color: #f8fbff;
}

.journey-body {
    display: flex;
    flex-direction: row;
}

.journey-info-description {
    font-size: 16px;
    font-weight: 500;
    color:rgb(83, 73, 73);
}

.journey-info {
    display: flex;
    flex-direction: column;
}


.journey-info-meta {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: stretch;
    margin-top: auto;
}

@media(min-width: 600px) {
    .journey-info {
        margin-left: 20px;
        padding: 10px;
        flex:1;
    }

    .journey-info-subinfo {
        display: inline-block;
        margin-top: 10px;
    }

    .journey-info-subinfo > span:not(:first-child) {
        margin-left: 15px;
    }
}

/* @media(min-width: 1000px) {
    .journey-posted {
        margin-left: auto;
    }
} */


@media(max-width:600px) {
    .journey {
        padding: 15px;
    }

    .journey-info-subinfo {
        display: block;
    }
}

@media(max-width: 800px) {
    .journey-body {
        flex-direction: column;
    }

    .journey-info-meta {
        flex-direction: row;
        margin-top: 20px;
    }

    .journey-title {
        margin-top: 10px;
    }

    .journey-image, .journey-image > image {
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
    }
}

.journey-image, .journey-image > img{
    height: 200px;
    width: 200px;
    min-height: 200px;
    min-width: 200px;
    max-height: 200px;
    max-width: 200px;
    border-top-left-radius: 0.4rem;
    border-bottom-left-radius: 0.4rem;
}

.journey:hover{
    box-shadow: 0px 4px 8px rgba(14, 17, 43, 0.1), 0px 4px 5px rgba(62, 71, 134, 0.3);
    cursor: pointer;
}

a.journey-referrer { 
    color: #000000; 
    text-decoration: none; 
} 

.view, .like-inactive, .comment-inactive{
    margin-bottom: 2px;
    display: inline-flex;
}

.view, .comment-inactive {
    margin-left: 20px;
}

.view > span, .like-inactive > span {
    margin-left: 3px;
    margin-top: 1px;
}

.comment-inactive > span {
    margin-left: 3px;
    margin-bottom: 0.5px;
}

.likeGlyph{
    cursor: pointer;
    display: inline-flex;
}

.likeGlyph > span{
    margin-left: 2px;
    margin-top: 2px;
}

.likeGlyph-entered, .likeGlyph:hover{
    color: red;
}

.posted{
    font-size: 14px;
    font-weight: lighter;
    font-style: italic;
    margin-bottom: 2px;
}

.journey-full-comment {
    position: relative;
    padding: 10px;
    width: 650px;
    border-radius: 0.5em;
}

@media(max-width: 600px) {
    .journey-full-comment {
        width: 100%;
    }

    .posted {
        margin-right: auto;
        margin-top: 10px;
    }
}

@media(min-width: 600px) {
    .posted {
        margin-left: auto;
    }
}

.journey-full-comment-body {
    margin: 10px 0;
    font-weight: 500;
    overflow-wrap: break-word;
    font-size: 18px;
}

.delete-comment{
    position: absolute;
    top: 5px;
    right: 5px;
    max-height: 20px;
}
/* 
user */

.user-picture {
    border-radius: 50%;
    box-shadow: 0 0 5px rgba(0,0,0,0.2);
}

.user-main_info .user-name {
    font-size: 32px;
    font-weight: 500;
}

.user-main_info .user-username {
    font-size: 22px;
    font-weight: 100;
}

a.user-username{
    color: gray; 
}

a.user-username:hover{
    color: gray; 
}

.user-username::before {
    content: "@";
    color: gray;
}

.user-main_info {
    padding: 3.5px;
}

.user-main_info::after {
    content: "\a0";
    display: block;
    margin-top: 1rem;
    line-height: 1px;
    border-top: 0.8px solid lightgray; 
}

.user-main_info-juice {
    display: flex;
    flex-direction: row;
}

.user-main_info-juice-primary{
    display: flex;
    flex-direction: row;
}

.user-main_info-juice-secondary{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.user-main_info-juice-secondary > a {
    max-width: 120px;
    margin-top: 10px;
}

@media(max-width: 600px) {
    .user-main_info-juice-primary{
        flex-direction: column;
    }
}

@media(min-width: 600px) {
    .user-names {
        margin-left: 25px;
        margin-top: 20px;
    }
}

@media(max-width: 600px) {
    .user-names {
        text-align: center;
    }

    .user-main_info-juice-primary{
        align-items: center;
    }
}

@media(max-width: 900px) {
    .user-main_info-juice {
        flex-direction: column;
    }

    .user-main_info-juice-secondary{
        margin-top: 15px;
        border-top: 0.8px solid lightgray;
        padding-top: 10px;
    }
}

@media(min-width: 900px) {
    .user-main_info-juice-secondary{
        flex-grow: 1;
        align-self: stretch;
        margin-left: 50px;
        border-left: 0.8px solid lightgray; 
        padding-left: 50px;
    }
}
